*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fcfcfc;
}

.navbar{
    background-color: #fff;
    height: 60px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 3px lightgray;
}

.navbar.logo{
    height: 70px;
    width: auto;
}

.navbar.navigation a {
    color: #000;
    text-decoration: none;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#welcome{
    background-image: url(./header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome h1 {
    font-size: 90px;
    text-align: center;
}

#welcome p {
    font-size: 50px;
    text-align: center;
}

#wishes{
    min-width: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
#wishes .heading {
    text-transform: uppercase;
    font-weight: 500;
}

#wishes .description {
    margin: 20px 0;
    color: grey;
}

#wishes .content {
    max-width: 600px;
    text-align: justify;
}

#wishes .images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

#thanks{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
#thanks h1 {
    text-align: center;
    font-family: cursive;
    font-size: 60px;
}